# Dependencies
node_modules

# Env
.env
.env.*
!.env.schema
!.env.remote.schema

# OS
.DS_Store
Thumbs.db

# Output
.netlify
.output
.vercel
.wrangler
.svelte-kit
.turbo
build/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
